PORT=3000

# DATABASE CONFIGURATION
DB_HOST=localhost
DB_PORT=5432
POSTGRES_USER=uqqsi
POSTGRES_PASSWORD=secret123
POSTGRES_DB=qqsi_db

# JWT CONFIGURATION
JWT_SECRET=your_jwt_secret_key
JWT_EXPIRES_IN=3600s

IS_PRODUCTION=false